<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Be right back</title>
  </head>

  <body>
    {{> header}}
    <p>We'll be right back soon</p>


    {{> footer}}
  </body>


</html>
